.container {
  display: flex;
  block-size: 100%;
  inline-size: 100%;
  margin: 0px;
}


.map-container {
  block-size: 100%;
  inline-size: 100%;
  margin: 0px;
  z-index: 0;
}

.marker-position{
  background-color: blue;
}